
{:pom {:group-id "mvc-works",
       :artifact-id "fuzzy-filter",
       :version "0.0.6",
       :name "A customzed fuzzy search function"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
